{% extends "layout.html" %}

{% block heading %}
    Please Sign Up
{% endblock %}

{% block body %}
<div class="container">
    <form action="{{ url_for('index') }}" method="post">
        <input type="text" name="username" placeholder="Enter Your Name">
        <input type="password" name="password" placeholder="Enter Your Password">
        <input type="password" name="confirm-password" placeholder="Enter Your Password Again">
        <button>Submit</button>
    </form>
</div>
<div class="container">
	<form action={{url_for('login')}}>
		<button>Log in</button>
	</form>
</div>
{% endblock %}